@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This Web-Appliaciton was developed for the <a target="_blank" href="https://orlandocodecamp.com/">2018 Orlando Code Camp</a>, Hosted by <a target="_blank" href="http://onetug.org/"></a>Orlando .NET User Group</p>

<p>Check out these fun features:</p>
<ul class="list-group">
    <li class="list-group-item">"New Feature" link: Throws exception, logged in Application Insights</li>
    <li class="list-group-item">"Contact" link: Has random 1-4 seccond delay, logged in Application Insights</li>
    <li class="list-group-item">"Get the Slides" button: logs custom event in Application Insights</li>
</ul>

<p><a target="_blank" href="https://github.com/gomjabar6/OrlandoCodeCamp2018">See the project on GitHub</a></p>

<p>This application was developed with the following technologies:</p>
<ul class="list-group">
    <li class="list-group-item"><a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core</a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.visualstudio.com/team-services/">Visual Studio Team Services</a></li>
    <li class="list-group-item"><a target="_blank" href="https://azure.microsoft.com/en-us/services/application-insights/">Application Insights</a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.vultr.com/">VULTR VM Hosting</a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.ubuntu.com/">Ubuntu OS</a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.nginx.com/">NGINX</a></li>
</ul>

<p><a asp-area="" asp-controller="Home" asp-action="Contact">Contact CyberMedics, LLC. for help!</a></p>