@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    300 Sheoah Blvd, #206<br />
    Winter Springs, FL 32708<br />
</address>

<address>
    <strong>Website:</strong> <a target="_blank" href="http://www.cyber-medics.com/">www.cyber-medics.com</a><br />
    <strong>Info</strong> <a target="_blank" href="mailto:info@cyber-medics.com">info@cyber-medics.com</a>
</address>
