@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hello, Orlando Code Camp 2018!</h1>
    <p>This is a demonstration site running with ASP.NET Core, hosted on a low cost Linux VM, and enabled with CI/CD and Telemetry by Microsoft Azure</p>
    <p><a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="OpenSlides" class="btn btn-primary btn-lg" role="button">Get the Slides!</a></p>
</div>
